# Global
server.name=@SERVER_NAME@

content.server.url=@CONTENT_SERVER_URL@
oas.service.server.url=@OAS_SERVICE_SERVER_URL@
cds.service.server.url=@CDS_SERVICE_SERVER_URL@
server.url=@SERVER_URL@
dop.service.server.url=@DOP_SERVICE_SERVER_URL@

# Database
database.driver.class=@DATABASE_DRIVER_CLASS@
database.jdbc.url=@DATABASE_JDBC_URL@
database.user=@DATABASE_USER@
database.password=@DATABASE_PASSWORD@
database.initial.pool.size=@DATABASE_INITIAL_POOL_SIZE@
database.min.pool.size=@DATABASE_MIN_POOL_SIZE@
database.max.pool.size=@DATABASE_MAX_POOL_SIZE@
database.acquire.increment=@DATABASE_ACQUIRE_INCREMENT@
database.max.idle.time=@DATABASE_MAX_IDLE_TIME@

# Mybatis
mybatis.mapper.base.package=@MYBATIS_MAPPER_BASE_PACKAGE@

# ActiveMQ
jms.broker.uri=@JMS_BROKER_URI@
activemq.data.root=@ACTIVEMQ_DATA_ROOT@

# Security
security.authentication.type=@SECURITY_AUTHENTICATION_TYPE@
security.cas.max.connection=@SECURITY_CAS_MAX_CONNECTION@
security.cas.connection.timeout=@SECURITY_CAS_CONNECTION_TIMEOUT@
security.cas.socket.timeout=@SECURITY_CAS_SOCKET_TIMEOUT@
security.cas.server.url=@SECURITY_CAS_SERVER_URL@
security.cas.client.url=@SECURITY_CAS_CLIENT_URL@

# Httpclient
http.client.max.connection=@HTTP_CLIENT_MAX_CONNECTION@
http.client.connection.timeout=@HTTP_CLIENT_CONNECTION_TIMEOUT@
http.client.socket.timeout=@HTTP_CLIENT_SOCKET_TIMEOUT@


#job task monitor
scheduler.job.task.execution.status.table=@SCHEDULER_JOB_TASK_EXECUTION_STATUS_TABLE@
scheduler.quartz.job.detail.table=@SCHEDULER_QUARTZ_JOB_DETAIL_TABLE@
scheduler.job.task.monitor.servlet.password.file=@SCHEDULER_JOB_TASK_MONITOR_SERVLET_PASSWORD_FILE@
scheduler.job.task.thread.pool.number=@SCHEDULER_JOB_TASK_THREAD_POOL_NUMBER@


service.internal.sign.secret.key=@SERVICE_INTERNAL_SIGN_SECRET_KEY@